<html>
<head></head>
<body>
    <form methode="POST" action="ajouterabonement.php">
        
        <p>id</p>
      <input name="id" type="number" >  
        <p>nom</p>
<input name="nom" type="text" >
    <p>prenom</p>
<input name="prenom" type="text" >
    <p>age</p>
<input name="age" type="text" >
    <p>num</p>
<input name="num" type="number" >
    <br/><br/>
    <select name="type">
                            <option>par an</option>
                            <option>par mois</option>
                            <option>par trimestre</option>
                            <option>par seance</option>
    
    
    
    </select>
        <p>start date</p>
        <input type="date" name="startdate">
    
    <br/><br/>
    <input type="submit" name="ajout" value="confirmer">


    
    
    
    
    </form>
    
    
    
    </body>

</html>